<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1= nombrePagina
            p Ingresa email para restablecer
            if locals.mensajes
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class= categoria)
                                p= error
            
            form#formulario.caja.caja-login(method='POST' action='restablecer')
                .campo
                    label(for='email') Email:
                    input(type='email' name='email' placeholder='Email'  value= email)
                .campo.enviar
                    input.boton(type='submit' value='Restablecer' )
                .campo
                    a(href='/iniciar-sesion') Iniciar Sesion
        
        //-- script(src='/dist/bundle.js')    