<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include ./email.css
    body
        h2 Restablecer password
        p Acceder para restabecer contraseña
        a(href= url) Restablecer Contraseña
        p si tines problemas visitra #{url}
        p si no eres tu ingnora esto